* {
  font-family: "Poller One", cursive;
}

header {
  border-bottom: solid 2px;
}

p,
li {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background: url(img/background.jpg) center center / cover no-repeat fixed;
}
h5 {
  color: white;
}

footer {
  border-top: solid 5px;
}
.banner {
  margin-top: 80%;
  margin-bottom: 5%;
}
#photo {
  width: 18rem;
}
@media screen and (max-width: 480px) {
  #photo {
    width: 100%;
  }

  h1,
  h2,
  h5,
  p {
    font-size: smaller;
  }
}
