* {
  font-family: "Poller One", cursive;
}

header {
  border-bottom: solid 2px;
}

p,
li {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background: url(img/background.jpg) center center / cover no-repeat fixed;
}

footer {
  border-top: solid 5px;
}
